.conditionsPanelContainer {
  composes: panelContainer from "../../../../components/DataDisplay/Panel/Panel.module.css";
  grid-template: min-content / 1fr;
  height: min-content;
  background: none;
  box-shadow: none;
  justify-self: center;
}

.conditionsPanelContainer > *:only-child {
  box-shadow: none;
}

.conditionsPanelContainer > *:only-child > * {
  border-radius: 0;
  box-shadow: none;
  background: none;
  padding: 8px 12px;
  background-color: var(--primary-black-A70);
  position: relative;
}


.conditionsPanelContainer > *:only-child > *::after {
  display: flex;
  align-self: center;
  right: 0;
  content: "";
  position: absolute;
  height: 80%;
  width: 1px;
  background-color: var(--fluent-gray);
}


.conditionsPanelContainer > *:only-child > *:last-child::after {
  display: none;
}
