.locationContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 1 auto;
  margin-top: 12px;
}

.locationButton {
  composes: button from "../../../../Components/Controls/Buttons/Button/Button.module.css";
  height: max-content;
  font-size: 22px;
  padding: 4px 8px;
  background: var(--neumorph-bga-gradient);
  box-shadow: var(--neumorph-outset-shadow), var(--neumorph-inset-shadow);
}
